    body {
        margin: 0;
        padding: 0;
    }

    #outer {
        width: 50%;
        /* min-width: fit-content; */
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    #outer #form #inner select {
        appearance: none;
    }

    #book {
        display: none;
    }
    @media only screen and (max-width: 600px) {
        #outer {
            padding: 20px !important;
            min-width:260px!important;
            margin: auto !important;
            margin-bottom: 50px !important;
        }
    }